In [1]:
import os
import pandas as pd
import datetime as dt
from app import db, WalliStat, Campaign

C:\ProgramData\Anaconda3\envs\flask_env\lib\site-packages\flask_sqlalchemy\__init__.py:872: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  warnings.warn(FSADeprecationWarning(

In [2]:
db.create_all()

In [3]:
t = dt.datetime.now()    
next_hour = t.replace(second=0, microsecond=0, minute=0, hour=t.hour+1)
hourly = Campaign(id=0, title="hourly", start=next_hour, interval=dt.timedelta(seconds=3600))
hourly

Campaign(id:0, 'hourly' is active:None, start:2021-10-18 16:00:00, end:None, interval:1:00:00)

In [4]:
db.session.add(hourly)
db.session.commit()

In [5]:
os.listdir(os.path.join("..", "logs"))[:4]

['eval_2021-07-25.png',
 'eval_2021-07-27.png',
 'eval_logs.ipynb',
 'raw_2021-07-25.csv']

In [6]:
fn = "raw_2021-07-25.csv"
date_str = fn.split(".")[0].split("_")[1]
df = pd.read_csv(os.path.join("..", "logs", fn))
df.head(7)

,time,ver,charge_state,I_L1,I_L2,I_L3,Temp,V_L1,V_L2,V_L3,...,E_cyc_lb,E_hb,E_lb,I_max,I_min,watchdog,standby,remote_lock,max_I_cmd,FailSafe_I
0,00:53:32,264,2,0,0,0,272,237,236,239,...,0,2,49607,10,6,15000,4,1,0,10
1,00:53:37,264,2,0,0,0,272,237,235,239,...,0,2,49607,10,6,15000,4,1,0,10
2,00:53:43,264,2,0,0,0,272,237,235,239,...,0,2,49607,10,6,15000,4,1,0,10
3,00:53:48,264,2,0,0,0,272,236,235,238,...,0,2,49607,10,6,15000,4,1,0,10
4,00:53:53,264,2,0,0,0,272,236,235,238,...,0,2,49607,10,6,15000,4,1,0,10
5,00:53:58,264,2,0,0,0,272,236,235,238,...,0,2,49607,10,6,15000,4,1,0,10
6,00:54:03,264,2,0,0,0,272,237,236,239,...,0,2,49607,10,6,15000,4,1,0,10

In [14]:
df["datetime"] = [pd.to_datetime(date_str + " " + t).to_pydatetime() for t in df["time"]]

In [15]:
df.datetime.describe()

C:\Users\holge\AppData\Local\Temp/ipykernel_20216/1205477459.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.datetime.describe()

count                    6690
unique                   6690
top       2021-07-25 00:53:32
freq                        1
first     2021-07-25 00:53:32
last      2021-07-25 10:23:41
Name: datetime, dtype: object

In [17]:
df.set_index("datetime", inplace=True)
df

,time,ver,charge_state,I_L1,I_L2,I_L3,Temp,V_L1,V_L2,V_L3,...,E_cyc_lb,E_hb,E_lb,I_max,I_min,watchdog,standby,remote_lock,max_I_cmd,FailSafe_I
datetime,,,,,,,,,,,,,,,,,,,,,
2021-07-25 00:53:32,00:53:32,264,2,0,0,0,272,237,236,239,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 00:53:37,00:53:37,264,2,0,0,0,272,237,235,239,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 00:53:43,00:53:43,264,2,0,0,0,272,237,235,239,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 00:53:48,00:53:48,264,2,0,0,0,272,236,235,238,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 00:53:53,00:53:53,264,2,0,0,0,272,236,235,238,...,0,2,49607,10,6,15000,4,1,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-25 10:23:20,10:23:20,264,2,0,0,0,328,237,235,239,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 10:23:26,10:23:26,264,2,0,0,0,325,236,235,238,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 10:23:31,10:23:31,264,2,0,0,0,328,235,234,238,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 10:23:36,10:23:36,264,2,0,0,0,328,235,234,238,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 10:23:41,10:23:41,264,2,0,0,0,328,235,234,238,...,12088,2,61695,10,6,15000,4,1,100,10

In [25]:
df.resample(dt.timedelta(seconds=3600)).first()

,time,ver,charge_state,I_L1,I_L2,I_L3,Temp,V_L1,V_L2,V_L3,...,E_cyc_lb,E_hb,E_lb,I_max,I_min,watchdog,standby,remote_lock,max_I_cmd,FailSafe_I
datetime,,,,,,,,,,,,,,,,,,,,,
2021-07-25 00:00:00,00:53:32,264,2,0,0,0,272,237,236,239,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 01:00:00,01:00:01,264,4,0,0,0,275,237,236,240,...,0,2,49607,10,6,15000,4,1,0,10
2021-07-25 02:00:00,02:00:01,264,7,105,98,91,322,237,235,239,...,6693,2,56300,10,6,15000,4,1,100,10
2021-07-25 03:00:00,03:00:00,264,5,0,0,0,316,239,238,241,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 04:00:00,04:00:01,264,5,0,0,0,287,236,236,239,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 05:00:00,05:00:00,264,5,0,0,0,280,237,236,239,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 06:00:00,06:00:04,264,5,0,0,0,277,236,235,238,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 07:00:00,07:00:03,264,5,0,0,0,275,238,237,241,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 08:00:00,08:00:01,264,5,0,0,0,275,238,238,240,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 09:00:00,09:00:00,264,5,0,0,0,289,236,235,239,...,12088,2,61695,10,6,15000,4,1,100,10
2021-07-25 10:00:00,10:00:00,264,2,0,0,0,325,237,235,239,...,12088,2,61695,10,6,15000,4,1,100,10

In [7]:
df.columns

Index(['time', 'ver', 'charge_state', 'I_L1', 'I_L2', 'I_L3', 'Temp', 'V_L1',
       'V_L2', 'V_L3', 'ext_lock', 'P', 'E_cyc_hb', 'E_cyc_lb', 'E_hb', 'E_lb',
       'I_max', 'I_min', 'watchdog', 'standby', 'remote_lock', 'max_I_cmd',
       'FailSafe_I'],
      dtype='object')

In [8]:
for index, row in df.iterrows():
    wst = WalliStat(datetime = pd.to_datetime(date_str + " " + row.time).to_pydatetime(), 
                    charging_state = row.charge_state, 
                    I_L1 = row.I_L1 / 10.,
                    I_L2 = row.I_L2 / 10.,
                    I_L3 = row.I_L3 / 10.,
                    temperature = row.Temp / 10.,
                    V_L1 = row.V_L1,
                    V_L2 = row.V_L2,
                    V_L3 = row.V_L3,
                    extern_lock_state = row.ext_lock,
                    power = row.P,
                    energy_pwr_on = (row.E_cyc_hb << 16) + row.E_cyc_lb,
                    energy_total = (row.E_hb << 16) + row.E_lb,
                    I_max_cfg = row.I_max,
                    I_min_cfg = row.I_max,
                    modbus_watchdog_timeout = row.watchdog,
                    remote_lock = row.remote_lock,
                    I_max_cmd = row.max_I_cmd,
                    I_fail_safe = row.FailSafe_I, 
                   campaign_id = hourly.id)
    db.session.add(wst)
db.session.commit()

'00:53:32'